body {
  background-image: url("https://i.pinimg.com/originals/e8/b0/5e/e8b05e54c5bb2a63f5e2666d4bee3c9e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
